---
layout: layout
---
<div class="wrapper hero">
    <h1 class="hero-name featured">
        {{ settings.home.name }}
    </h1>
    <span class="hero-title">
        {{ settings.home.description }}
    </span>
</div>
